body {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

h1 {
  text-align: center;
  color: blue;
  font-family: arial;
  font-size: 30px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 16px;
}

h3 {
  text-align: center;
  color: blue;
  font-size: 40px;
}

h4 {
  text-align: center;
  color: white;
  font-size: 16px;
}

p {
  text-align: center;
  color: white;
  font-size: 16px;
}

ul {
  list-style-type: none;
  position: static;
}

#fahrenheit-link {
  font-size: 1rem;
}

#celsius-link {
  font-size: 1rem;
}

.standard-text {
  font-size: 1rem;
  color: white;
  padding-right: 3rem;
  padding-top: 1rem;
}

.container-1 {
  text-align: center;
}

.col-4 {
  text-align: center;
}

.row {
  color: white;
}

.github {
  float: center;
  padding-left: 33rem;
}
